<div class="container">
  <h2>Create your own cocktail</h2>
  <%= simple_form_for(@cocktail) do |f| %>
    <div><%= f.input :name %></div>
    <div><%= f.submit %></div>
  <% end %>
  <br>
  
  <%= link_to 'Back to cocktails', cocktails_path %> |
</div>
